
<div class="gameScore">
  <span class="playerSpan playerSpan-0">
    <app-player-score *ngIf="players[0] != null" [player]="players[0]" [playerNo]="0"></app-player-score>
  </span>

  <div class="playerScores">
    <!-- first row -->
    <a class="playerScoreFloat">
      <a  class="floatText" *ngIf="players[0] != null" [@float]=players[0].score>
        {{floatText}}
      </a>
    </a>
    <a class="playerScoreFloat">
      <a  class="floatText" *ngIf="players[1] != null" [@float]=players[1].score>
        {{floatText}}
      </a>
    </a>
    <!-- second row -->
    <div *ngIf="players[0] != null" class="playerScoreBoard playerScoreNumber">
      {{players[0].score}}
    </div>
    <div *ngIf="players[0] == null" class="playerScoreBoard playerScoreNumber">
      0
    </div>

    <div class="playerScoreBoard versusSymbol">
      x
    </div>

    <div *ngIf="players[1] != null" class="playerScoreBoard playerScoreNumber">
      {{players[1].score}}
    </div>
    <div *ngIf="players[1] == null" class="playerScoreBoard playerScoreNumber">
      0
    </div>
  </div>

  <span class="playerSpan playerSpan-1">
    <app-player-score *ngIf="players[1] != null" [player]="players[1]" [playerNo]="1"></app-player-score>
  </span>
</div>