.playerSpan-0 {
  width: 40%;
  float: left;
  height: 300px;
  overflow: hidden;
  background-image: linear-gradient(168deg, rgba(0, 0, 0, 1), rgba(255, 0, 0, 1));
}


.playerSpan-1 {
  width: 40%;
  float: right;
  height: 300px;
  overflow: hidden;
  /* gradient angle is the reflection of the first player's  */
  /* 192 = 168 - 2*(168 - 180) */
  background-image: linear-gradient(192deg, rgba(0, 0, 0, 1), rgba(255, 0, 0, 1));
}

.playerScores {
  width: 20%;
  height: 300px;
  float: left;
}

.playerScoreNumber {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  text-align: center;
  width: 45%;
  font-size: 80px;
  font-weight: 900;
}

.versusSymbol {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  text-align: center;
  width: 10%;
  font-size: 40px;
  font-family: monospace;
  /* margin-top: 40px; */
}