<div *ngFor="let player of players; index as playerNo">
  <div *ngIf="player" data-id="player-{{playerNo}}">
    <div class="playerName" data-id="playerName-{{playerNo}}">{{player.name}}</div>

    <img class="playerImage" *ngIf="player.imageUrl" [src]="player.imageUrl" />
    <div class="playerImage" *ngIf="!player.imageUrl"></div>

    <div class="playerScore" data-id="playerScore-{{playerNo}}">{{player.score}}</div>
    <div *ngIf="player.turn == 0" class="playerTurn" data-id="playerTurn-{{playerNo}}">Goes first!</div>
  </div>
</div>
