.playerSpan-0 {
  width: 40%;
  float: left;
  height: 300px;
  overflow: hidden;
}

.playerScores {
  width: 20%;
  height: 300px;
  float: left;
}

.playerSpan-1 {
  width: 40%;
  float: right;
  height: 300px;
  overflow: hidden;
}
