.gameScore {
  max-height: 320px;
  width:100%;
}

.playerSpan {
  width: 40%;
  min-height: 300px;
}

.playerSpan-0 {
  float: left;
  /* background-image: linear-gradient(168deg, rgba(0, 0, 0, 0.8), rgba(255, 0, 0,  0.8)); */
}

.playerSpan-1 {
  float: right;
  /* gradient angle is the reflection of the first player's  */
  /* 192 = 168 - 2*(168 - 180) */
  /* background-image: linear-gradient(192deg, rgba(0, 0, 0, 0.8), rgba(255, 0, 0,  0.8)); */
}

.playerScores {
  width: 20%;
  height: 300px;
  float: left;
}

.playerScoreFloat{
  text-align: center;
  opacity: 0;
  position: relative;
  top: 7%;
  width: 50%;
  display: inline-grid;
  font-size: 1.5em;
}

.playerScoreBoard {
  position: relative;
  top: 7%;
  float: left;
  text-align: center;
  line-height: 100px;
}

.playerScoreNumber {
  width: 45%;
  font-size: 80px;
  font-weight: 700;
}

.versusSymbol {
  width: 10%;
  font-size: 40px;
  font-family: monospace;
}