<div class="playerSelection"  *ngFor="let player of players; index as playerNo">
  <span class="playerSelection-{{playerNo}}">
    <h3 class="selectionTitle">
      Select your character
    </h3>
    <datalist id="validCharacters-{{playerNo}}">
      <option *ngFor="let character of validCharacters[playerNo]" value="{{character}}"></option>
    </datalist>
    <form #f="ngForm" (ngSubmit)="onSubmit(f, playerNo)" novalidate>
      <input type="text" name="name" #name="ngModel" attr.list="validCharacters-{{playerNo}}"
      autofocus required placeholder="character name"
      [class.input-invalid]="nameError[playerNo] && (name.dirty || name.touched)"
      (keyup)="onInputName($event, playerNo)" autocomplete="off" ngModel/>
      <button class="btn">
        Confirm
      </button>
      <div>
        <small *ngIf="nameError[playerNo]" class="nameError text-error">
          {{nameError[playerNo]}}
        </small>
      </div>
    </form>
  </span>
</div>