/* You can add global styles to this file, and also import other style files */

body {
  /* fill the screen*/
  min-height: 100vh;
  /* if this is > 0 the page scrolls when uneeded because of fill */
  margin: 0px;

  background: #e0e0e0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

.text-error {
  color: #ca0000;
  line-height: 30px;
}

.input-invalid {
  border-color: #ca0000
}

.btn:hover {
  background-color: #525252;
}

.btn {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

  text-align: center;
  vertical-align: middle;
  letter-spacing: .5px;
  
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  color: #fff;
  background-color: #383838;

  transition: background-color .2s ease-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.12),
  0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: inherit;
  border: none;  
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 8px;
}

input:focus {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.12),
  0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

input {
  width: calc(50% - 3rem);

  background-color: transparent;
  border: none;
  border-bottom: 2px solid #9e9e9e;
  border-left: 2px solid #9e9e9e;
  border-bottom-left-radius: 4px;
  outline: none;
  height: 1.5rem;

  font-size: 16px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 2px;

  box-sizing: content-box;

  transition: box-shadow 0.2s,
  border 0.2s,
  -webkit-box-shadow 0.2s;
}